<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="../static/global1.css" />
    <link rel="stylesheet" href="../static/index1.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Proza Libre:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Harmattan:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Akaya Kanadaka:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inria Sans:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Playfair Display:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="rectangle-parent">
      <div class="frame-child"></div>
      <b class="welcome-to-dupchecker">WELCOME TO DUPCHECKER</b>
      <img class="frame-item" src="{{ url_for('static', filename='rectangle-71@2x.png') }}" alt="">

      <div class="dupchecker">DUPCHECKER</div>
      <div class="trust-us-to">Trust us to keep your authenticity</div>
      <b class="why-use-a">Why use a Dupchecker?</b>
      <img class="frame-inner" src="{{ url_for('static', filename='rectangle-40@2x.png') }}" alt="">

      <div class="regardless-of-whether">
        Regardless of whether you intended to plagiarise or not, using another
        person's words without giving them proper credit is illegal. Even a
        phrase or two of unintentional plagiarism might have major
        repercussions. Plagiarism among students frequently results in a failing
        mark, academic probation, or even worse. Fortunately, a helpful tool
        exists. You can use Dupchecker to make sure that anything in your
        writing that isn't entirely original has been appropriately identified
        and cited.
      </div>
      <div class="detect-plagiarism-in">
        Detect plagiarism in two files at once
      </div>
      <div class="simple-secure">Simple & Secure</div>
      <div class="categorization-and-highlighted">
        Categorization and Highlighted Reports
      </div>
      <b class="features-of-dupchecker">Features of Dupchecker</b>
      <img class="rectangle-icon" src="{{ url_for('static', filename='rectangle-401@2x.png') }}" alt="">
      <img class="frame-child1" src="{{ url_for('static', filename='rectangle-41@2x.png') }}" alt="">
      <img class="frame-child2" src="{{ url_for('static', filename='rectangle-42@2x.png') }}" alt="">

      <div class="dupchecker-highlights-paragrap">
        Dupchecker highlights paragraphs that need citations and provides you
        with the resources that you need to give credit where credit is needed.
      </div>
      <div class="dupchecker-fully-respects">
        Dupchecker fully respects the privacy of your data. The software keeps
        all of the text you paste private.
      </div>
      <div class="dupchecker-can-check">
        Dupchecker can check about two files at once with accurate results.
      </div>
      <b class="to-become-a"
        >To become a part of our community, enter your details below!</b
      >
      <form method="POST">
        <input
          class="rectangle-input"
          type="text"
          placeholder="Enter Name"
          name = "name"
          maxlength="{100}"
          minlength="{10}"
          required
        />
        <input
          class="frame-child3"
          type="email"
          name = "email"
          placeholder="Enter email"
          maxlength="{100}"
          minlength="{20}"
          required
          accept
        />

        <input
          class="frame-child4"
          type="password"
          placeholder="Enter Password"
          name = "password"
          min="{10}"
          max="{10}"
          maxlength
          minlength
          required
        />

        <div class="group-div"></div>
        <button class="sign-up" type = "submit">Sign up</button>
        <!-- <a class="login" href="./LoginPage.html">Login</a> -->
        <b class="already-have-an">Already have an account?</b>
          {% if error %}
          <p class = "error" > {{ error }}</p>
          {% endif %}
      </form>
      <a class="login" href ="{{ url_for('index2') }}">Login</a>
      <div class="rectangle-div"></div>
      <b class="about-us">About Us</b>
      <b class="extensions">Extensions</b>
      <b class="services">Services</b>
      <b class="connect">Connect</b>
      <div class="careers-culture-container">
        <ul class="careers-culture-press-affili">
          <li class="careers-culture">Careers & Culture</li>
          <li class="careers-culture">Press</li>
          <li class="careers-culture">Affiliates</li>
          <li class="careers-culture">Partners</li>
          <li class="careers-culture">Trust Center</li>
          <li class="careers-culture">Privacy Policy</li>
          <li>Terms of Service</li>
        </ul>
      </div>
      <div class="dupchecker-for-chrome-container">
        <ul class="careers-culture-press-affili">
          <li class="careers-culture">Dupchecker for Chrome</li>
          <li class="careers-culture">Dupchecker for Word</li>
          <li>Dupchecker for macOS</li>
        </ul>
      </div>
      <div class="premium-team-plan-container">
        <ul class="careers-culture-press-affili">
          <li class="careers-culture">Premium</li>
          <li class="careers-culture">Team Plan</li>
          <li class="careers-culture">Affiliate</li>
          <li>Request a Demo</li>
        </ul>
      </div>
      <div class="help-center-contact-container">
        <ul class="careers-culture-press-affili">
          <li class="careers-culture">Help Center</li>
          <li class="careers-culture">Contact Us</li>
          <li class="careers-culture">Facebook</li>
          <li class="careers-culture">Instagram</li>
          <li class="careers-culture">Twitter</li>
          <li>LinkedIn</li>
        </ul>
      </div>
      <div class="dupcheckercom-all">
        @ 2023 DupChecker.com | All rights reserved.
      </div>
    </div>
  </body>
</html>
